body {
  margin: 0;
}
.nav-style {
  height: 90px;
  width: 1440px;
  background-color: #b45b35;
}
.logo {
  height: 72px;
  width: 78px;
}
.search {
  position: relative;
}
.search input {
  height: 40px;
  text-indent: 25px;
  border-radius: 20px;
}
.search input:focus {
  box-shadow: none;
  border: 2px solid red;
}
.card {
  position: relative;
  transition: all 0.5s ease-in;
  cursor: pointer;
  height: 375px;
}
.card__image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: 0.5s ease;
  background-color: #393839;
}
.card:hover .card__overlay {
  opacity: 0.8;
}
.overlay__text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.font {
  font-family: 'Almarai', sans-serif;
  font-family: 'Cairo', sans-serif;
}
.img-movie {
  height: 360px;
  padding: 10px;
  border-radius: 20px;
}
.details-movie {
  display: flex;
  flex-direction: row;
}
.details-movie span {
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: Almarai;
}
.details-movie p {
  font-size: 20px;
}
.film_story {
  font-size: 16px;
  color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media screen and (max-width: 600px) {
  .details-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
